/* RESET CSS */
h1, h2, h3, h4, h5, h6, i, em, b, p {
    margin: 0px;
    font-weight: normal;
    font-style: normal;
  }
strong{
  font-weight: normal;
}
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }